body{
    background-image: url(C:\Users\SightSpectrum\Desktop\reactjs\project\src\Image\img8.jpg);
    background-repeat: no-repeat;
    background-position: left  ;
    background-size: 70% 120%;
 
   
    
}

.register-container {
    text-align: right;
    position: relative;
    margin: 100px;
    margin-left: auto;
}

